## XOR Neural Network
> Griffin Davis and Sydnee Haney

In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neural_network import MLPClassifier

#### Data Load

In [29]:
data = None
try:
    f = open('../Datasets/bitwise_operators.json', 'r')
    data = pd.read_json(f, orient='records')
except FileNotFoundError:
    raise Exception('Cannot read data')
data

        OP  x1  x2  y
0      AND   0   0  0
1      AND   0   0  0
2      AND   0   1  0
3      AND   1   0  0
4      AND   1   1  1
...    ...  ..  .. ..
99995  NOR   0   0  1
99996  NOR   0   1  0
99997  NOR   0   0  1
99998  NOR   0   1  0
99999  NOR   0   0  1

[100000 rows x 4 columns]

#### Format Data

In [30]:
le = LabelEncoder()
le.fit(data['OP']) # fit separately to invert later
data['OP'] = le.transform(data['OP'])
X = data.drop(columns='y')
y = data['y']
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size=0.2)
X_train

       OP  x1  x2
66263   1   1   1
74406   1   0   0
77147   1   0   0
40454   4   0   1
60274   1   0   1
...    ..  ..  ..
70289   1   1   1
47123   4   1   0
95362   2   1   0
78216   1   1   0
85531   2   0   1

[80000 rows x 3 columns]

#### Creating the Model

In [31]:
clf = MLPClassifier().fit(X_train, y_train)
prediction = clf.predict(X_test)

#### Plotting the Model

In [32]:
printout = X_test.copy()
printout['OP'] = le.inverse_transform(printout['OP'])
printout['y'] = y_test
printout['Prediction'] = prediction
printout

         OP  x1  x2  y  Prediction
59286   XOR   1   0  1           1
6968    AND   0   0  0           0
54195   XOR   1   1  0           0
15400   AND   0   0  0           0
33406    OR   1   1  1           1
...     ...  ..  .. ..         ...
75998  NAND   0   1  1           1
14298   AND   0   1  0           0
38138    OR   0   1  1           1
93314   NOR   1   1  0           0
9035    AND   0   0  0           0

[20000 rows x 5 columns]