# Simple Neural Network
> Griffin Davis and Sydnee Haney

In [72]:
import pandas as pd
import numpy as np
from math import cos, sin, atan
from urllib.request import urlopen, HTTPError
import matplotlib.pyplot as plt
from matplotlib.patches import Circle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neural_network import MLPClassifier

## Creating the NN

#### Helper Functions

In [73]:
def sigmoid(x):
    return 1.0/(1.0 + np.exp(-x))

def sigmoid_prime(x):
    return sigmoid(x)*(1.0-sigmoid(x))

def tanh(x):
    return np.tanh(x)

def tanh_prime(x):
    return 1.0 - x**2

#### Neural Network Class

In [81]:
class NeuralNetwork:
    def __init__(
        self,
        hidden_layer_sizes=(100,),
        learning_rate=0.001,
        max_iter=200,
        random_state=None,
        activation='sigmoid',
        alpha=0.0001
    ):
        self.hidden_layer_sizes = hidden_layer_sizes
        self.learning_rate = learning_rate
        self.max_iter = max_iter
        self.random_state = random_state
        self.activation = activation
        self.alpha = alpha

    def _initialiaze(self, y, layer_units):


    # def fit(self, X, y, learning_rate=0.2, epochs=100000):
        

    def score(self, X, y):
        if len(X) != len(y):
          raise Exception("Dimensions do not match")
        y_prime = self.predict(X)
        MSE = 0
        for i in range(len(y)):
          MSE += (y[i] - y_prime[i])**2
        return MSE

## Training XOR

#### Loading Data

In [75]:
data = None
try:
  fr = urlopen('https://raw.githubusercontent.com/davisgriffin/Machine_Learning/main/Datasets/bitwise_operators.json')
  data = pd.read_json(fr, orient='records')
  fr.close()
except HTTPError:
    raise Exception('Cannot read data')
data

        OP  x1  x2  y
0      AND   0   0  0
1      AND   0   0  0
2      AND   0   1  0
3      AND   1   0  0
4      AND   1   1  1
...    ...  ..  .. ..
99995  NOR   0   0  1
99996  NOR   0   1  0
99997  NOR   0   0  1
99998  NOR   0   1  0
99999  NOR   0   0  1

[100000 rows x 4 columns]

#### Splitting Data

In [76]:
OR = data.loc[data['OP'] == 'OR']
AND = data.loc[data['OP'] == 'AND']
NAND = data.loc[data['OP'] == 'NAND']

## Visualizing the Network

In [82]:
XOR = data.loc[data['OP'] == 'XOR']
X = XOR[['x1', 'x2']]
y = XOR['y']
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size=0.2)
nn = NeuralNetwork([2, 2, 1])
nn.fit(np.array(X_train), np.array(y_train))

In [84]:
prediction = nn.predict(np.array(X_test))
print(nn.score(np.array(X_test), np.array(y_test)))

[[0.02919211]]